:root {
    --colorOftheBody: #7bdbf3;
    --colorMenu: #9ec962;
}


/*============== Réglage générales */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    background-color: var(--colorOftheBody);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    font-family: 'Ubuntu';
}


/* les icones : les span */

.editNote {
    cursor: pointer;
}

.deleteNote {
    margin: 0 20px;
    cursor: pointer;
}


/* les icones : les i */

i {
    font-size: 2.5em;
    cursor: pointer;
    color: white;
}


/* !Début mainHeader =============================== */

.mainHeader {
    height: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


/* ? addnote */

.addNote {
    min-width: 15%;
    height: 90%;
    background-color: var(--colorMenu);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.addNoteItem {
    font-size: 2em;
    color: white;
}


/* !Fin mainHeader =============================== */


/**
=====
=====
=====
=====
=====
 */


/* !Début noteContainer =============================== */


/* ? noteContainer */

.noteContainer {
    margin: 2em 1em 0;
    width: 98%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}


/* TODO  note ****************************/

.note {
    margin: 1%;
    display: flex;
    flex-direction: column;
    /* ! important */
    border-radius: 0.75em 0.75em 0 0;
}


/* ?Note menu */

.noteMenu {
    background-color: var(--colorMenu);
    height: 75px;
    /* ! important */
    border-radius: 0.75em 0.75em 0 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


/* ?Note Text */

.addText {
    font-size: 3em;
    outline: none;
    height: 500px;
}


/* ================================hover et focus
========================
========================
========================
========================
========================
========================
=====*/


/* survoler le bouton ajouter une nouvelle note */

.addNote:hover {
    background-color: navy;
}

.addNote:hover span,
.addNote:hover i {
    color: greenyellow;
}

.addNote:active {
    background-color: #25CCF7;
    transform: scale(90%);
}

.addNote:active span,
.addNote:active i {
    color: white;
}


/* survoler le bouton edit */

.editNote i:hover {
    color: yellow;
}


/* survoler le bouton suprimer */

.deleteNote i:hover {
    color: red;
}